@import 'root.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: none;
  color: $black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  line-height: 100%;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: $background-grey;
  overflow: hidden;
}

.emoji {
  filter: grayscale(100%);
}

/* ! dev */
/* .dev { */
/*   display: none; */
/* } */

/* For all grab and grabbing... */
.defaultCursor {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.monospace {
  font-family: 'Lucida Console', Courier, monospace;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing !important;
}

.ewResizing {
  cursor: ew-resize;
}

.nodeAdd {
  cursor: copy;
}

.textEditing {
  pointer-events: auto !important;
  user-select: initial;
  cursor: text;
}

.no-events {
  pointer-events: none !important;
}

.no-select {
  user-select: none !important;
}

.no-opacity {
  /* display: none; */
  pointer-events: none;
  opacity: 0;
}

.disabledText {
  color: $light-grey !important;
  pointer-events: none !important;
}

.node-disabled {
  .node {
    pointer-events: none !important;
  }
}

.exportDiv {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
  padding: 8px;
  background-color: white;
  color: black;
  position: absolute;
  right: 16px;
  top: 52px;
}

.copyBtn {
  display: flex;
  padding: 8px;
  border-radius: 5px;
  align-items: center;
  color: black;
  height: 32px;
  background-color: inherit;
  &:hover {
    background-color: rgb(221, 221, 221);
  }
}
